<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="container">
    <br>

    {% for sub in detail %}  
    <div class="panel panel-default">
          <div class="panel-body">
      <h3>{{sub.name }}</h3>
      <a href="{% url 'files' categorie=sub.name %}"><h3>{{sub.name }}</h3></a>
      <h3>{{sub.year}}</h3>
      <p>{{sub.description}}</p>

        </div></div>
      {% endfor %}
    
    
</div>