<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="container">
    <br>

    <h2>{{ request.user.username }}</h2>
    <h1>{{request.resolver_match.kwargs.categorie}}</h1>
    <h2>{{ user.get_username }}</h2>

<form action="accounts/logout/"method="post">
    {% csrf_token %}
    <button type="submit">logout</button>

</form>
    {% for sub in file %}  
    <div class="panel panel-default">
          <div class="panel-body">
            <a href="{{ sub.fname.url }}" download>
                <p>{{ sub.fname }}  </p>
                        </a>
      <h5>{{sub.fdescription }}</h5>
     <h4>contributed by:{{ sub.usn }}</h4>
          </div></div>
      {% endfor %}
    
    

    <br>
    
    <h1>New post</h1>
    <form method="POST" class="post-form"enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1">
    {{ form }}
  </table>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    </div>