<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body style="background:#00356B"><div class="container" >
    <br>
        <div class="jumbotron">
          <h1>Information Science and engineering</h1>      
          <p>Get your important notes,files here...</p>
        </div>
          
      </div>
<div class="container">

    {% for y in yea %}
    <div>
        <div class="panel-body" style="background: rgba(0, 0, 0, 0.4);">
    <a href="{% url 'subjects' year=y.year %}" style="text-decoration:none;color:white;">
            
    <h3>{{ y.year }}</h3>
    </a>
    
    </div></div>
    <br>
    {% endfor %} 

</div>
</body>
