
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<body style="background:#FFFFFF">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
           
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">hello, ziyazee</a>
              </li> 
            </ul>
           
    </nav>
    <div class="container" >
        <br>
    <div class="row">
            <div class="col-sm-9">
        <div class="jumbotron">
          <h3>Information Science and engineering</h3>      
          <p>Get your important notes,files here...</p>
        </div>
          
   


    {% for y in yea %}
    <div class="card" ><div class="card-body">
            <div class="card-title"> 
    <a href="{% url 'subjects' year=y.year %}" style="text-decoration:none;">
            
    <b>{{ y.year }}</b>
    </a>
    
    </div></div></div>
    <br>
    {% endfor %} 

</div>
<!-- <div class="col-sm-3" >
    <br><center> <img src="../media/default-user.png">
    <h1><span style="color:white">{{ user.get_username }}</span></h1>
</center> -->
<!-- <div style="width:100%;height:45%;background-color:aqua;overflow:auto">
       
</div>

<h4><span style="color:white">feedback:</span></h4><input type="text"style="width:100%"><br>
<center><input type="button" value="button"></center> -->
</div></div>

</body>
