<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="container">
    <br>
<div class="jumbotron">
    <h1>Subjects</h1>
</div>
      {% for sub in subject %}  
      <div class="panel panel-default">
            <div class="panel-body">
        <h3> {{sub.name }}</h3>
        <p>{{sub.description}}</p>
            </div></div>
        {% endfor %}
    
</div>