
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<body style="background:#FFFFFF">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
               
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">hello, ziyazee</a>
                  </li> 
                </ul>
                <form action="accounts/logout/"method="post" style="margin:0">
                    {% csrf_token %}
    
                   <button type="submit"class="btn"><span>logout</span></button>
                </form>
        </nav>

<div class="container">
    <br>
    
<div class="jumbotron">
    <h1>Subjects</h1>
</div>
      {% for sub in subject %}  
     
            <div class="card" >
                <div class="card-body">
<div class="card-title">          
     <a href="{% url 'files' categorie=sub.name %}" style="text-decoration:none;"><b>{{sub.name }}</b></a>
</div>
                    <div class="card-subtitle mb-2 text-muted">{{sub.description}}</div>
          </div></div>
          <br>
        {% endfor %}
    
</div>


</body>
