<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body style="background:#00356B">

<div class="container">
    <br>
    
<div class="jumbotron">
    <h1>Subjects</h1>
</div>
      {% for sub in subject %}  
      <div class="">
            <div class="panel-body"style="background: rgba(0, 0, 0, 0.4);">
        <a href="{% url 'files' categorie=sub.name %}" style="text-decoration:none;color:white;"><h3>{{sub.name }}</h3></a>
        <p><span style="color:white">{{sub.description}}</span></p>
          </div></div>
          <br>
        {% endfor %}
    
</div>



</body>
