{% load staticfiles %}
<link rel="stylesheet" href="{% static 'style.css'%}" />
<script type="text/javascript" src="{% static 'particle.js' %}"></script>
<script type="text/javascript" src="{% static 'load.js' %}"></script>

<link rel="stylesheet" href="{% static 'style.css'%}" />
<div id="particles-js"></div>

<div class="text">

   <center> <h1>ISE file manager</h1></center>
   <br>
	<div  class="center-block" id="login" style="width: 40%;">
        <center>    <form class="site-form" action="/" method="post">
            {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
           
           
            <div class="controls"style="width:300px">
                <input class="form-control" type="text" id="username" name="username"  placeholder="Username">
            </div>
           
        </div>
        <br>
        <div class="control-group">
           
            <div class="controls" style="width:300px">
                <input class="form-control" type="password" name="password" id="password" placeholder="Password">
            </div>
      </div><br>
      <div class="control-group">
            <div class="controls">
               <button type="submit" class="btn btn-success"style="width:150px">Login</button>
            </div>
        </div>
    </form>
    </center>   </div></div>













<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
